/* Reset and layout */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #16599c, #73dbeb); /* Light blue gradient */
    overflow-x: hidden;
}

/* Adjust the content below the nav bar */
.start-page {
    margin-top: 0px; /* Space for the fixed navigation bar */
    height: 80vh; /* Full height minus the nav bar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
}

/* Headings */
.start-content h1 {
    font-size: 3rem;
    margin: 0;
 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    animation: fadeInDown 1.5s;
}

.start-content h2 {
    font-size: 2rem;
    margin: 100px 0;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.start-content h3 {
    font-size: 7rem;
    font-weight: bold;
    color: #f9fffa;
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: zoomIn 4.5s;
    animation: fadeInOpacity 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;

}

/* Scroll Down Button */
.scroll-down-arrow {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    background-color: #0056b3;
    opacity:0;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    animation: fadeIn 2s, bounce 2s infinite;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}



.scroll-down-arrow:hover {
    background-color: #004494;
    transform: translateY(-3px);
}

/* Scroll Down Arrow Animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .start-content h1 {
        font-size: 2rem;
    }
    .start-content h2 {
        font-size: 1.5rem;
    }
    .start-content h3 {
        font-size: 1.3rem;
    }
    .scroll-down-arrow {
        font-size: 1.2rem;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0; /* Fully transparent */
        transform: scale(0);
    }
    100% {
        opacity: 1; /* Fully visible */
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Fully transparent */
        transform: scale(0);
    }
    100% {
        opacity: 1; /* Fully visible */
        transform: scale(1);
    }
}